# Exclude All
**

# Explicit includes
!.devcontainer/
!.devcontainer/**
!.github/
!.github/**
!.vscode/
!.vscode/**
!src/
!src/**
!test/
!test/**
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitattributes
!.gitignore
!.npmignore
!.npmrc
!.nycrc
!CHANGELOG.md
!Dockerfile
!docker-compose.yml
!Makefile
!package-lock.json
!package.json
!README.md
!tsconfig.eslint.json
!tsconfig.json

# Artifacts
.DS_Store
